.item {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:not(:first-child) {
    margin-left: 80px;
}

.item__card {
    width: 320px;
    height: 480px;
    background-color: #F2F2F2;
    border: 4px solid #1698D9;
    border-radius: 10px;
    cursor: pointer;
}

.item__card__selected {
    width: 320px;
    height: 480px;
    background-color: #F2F2F2;
    border: 4px solid #D91667;
    border-radius: 10px;
    cursor: pointer;
}

.item__card__outOfStock {
    width: 320px;
    height: 480px;
    background-color: #F2F2F2;
    border: 4px solid #b3b3b3;
    border-radius: 10px;
}

.card__infoContainer {
    display: flex;
    justify-content: center;
    height: 156px;
}

.card__info {
    padding-top: 20px;
}

.info__viands {
    color: #666666;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.info__viands__selected {
    color: #D91667;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.info__viands__outOfStock {
    color: #b3b3b3;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.info__title {
    padding-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: black;
}

.info__title__outOfStock {
    padding-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #b3b3b3;
}

.info__product {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: black;
    padding-bottom: 14px;
}

.info__product__outOfStock {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #b3b3b3;
    padding-bottom: 14px;
}

.info__portions,
.info__mouses,
.info__happiness {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}

.info__portions__outOfStock,
.info__mouses__outOfStock,
.info__happiness__outOfStock {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #b3b3b3; 
}

.card__weight {
    /* background-image: url(/src/images/cat.svg); */
    padding-top: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.card__cat {
    width: 224px;
}

.card__cat__outOfStock {
    width: 224px;
    opacity: 0.6;
}

.weight__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1698D9;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
}

.weight__total__selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D91667;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
}

.weight__total__outOfStock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b3b3b3;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
    z-index: 2;
}

.total__number {
    font-style: normal;
    font-size: 38px;
    line-height: 22px;
}

.total__kg {
    font-style: normal;
    font-size: 22px;
    line-height: 22px;
    padding-top: 6px;
}

.item__bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    padding-top: 14px;
}

.bottom__notSelect {
    display: flex;
}

.bottom__buy {
    color: #1698D9;
    text-decoration: underline dashed #1698D9;
    cursor: pointer;
}

.bottom__outOfstock {
    color: #FFFF66;
}

.changeStockButton {
    cursor: pointer;
    margin-top: 12px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;

}